/*insert fonts here:
@import url();
*/

/*define colors*/
:root {
    /* Colors Palette */
    --dark_blue: #233d4d;
    --orange: #fe7f2d;
    --yellow: #fcca46;
    --green: #a1c181;
    --swamp_green: #619b8a;
}

html {
    height: 100vh; /* 100% viewport height */
    font-family: sans-serif;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--dark_blue);
}

#page_content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    /*border-top: 1px solid black;*/
    color: white;
    background-color: var(--dark_blue);
}

#title {
    margin: 0;
}

#main_container {
    width: 50%;
    height: 70%;
    background-color: var(--green);
    border: 3px solid black;
    border-radius: 25px;
    filter: drop-shadow(0 0 8px black);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}